<div  style="align-self: center">
<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Color</ng-template>
        <div class="text-center">


            <div >
                <aside class="logo">
                    <h2>Pick your Color</h2>
                    <app-color (colorvalue)="ColorChangedHandler($event)"> </app-color>
                </aside>

            </div>



            <a routerLink="/frame">
             <button class="btn btn-info btn-lg" mat-button matStepperNext>Next</button>
            </a>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Frame</ng-template>
      <div class="text-center">

          <div >
              <aside class="logo">
              <h2>Pick your Frame</h2>

          </aside>

          </div>


        <button class="btn btn-info btn-lg" mat-button matStepperPrevious>Back</button>




        <button class="btn btn-info btn-lg" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Drive Train</ng-template>
        <div class="text-center">

            <div >
                <aside class="logo">
                    <h2>Pick your Drivetrain</h2>

                </aside>

            </div>
          <button class="btn btn-info btn-lg" mat-button matStepperPrevious>Back</button>
          <button class="btn btn-info btn-lg" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Saddle</ng-template>
          <div class="text-center">
              <div >
                  <aside class="logo">
                      <h2>Pick your Saddle</h2>

                  </aside>

              </div>
            <button class="btn btn-info btn-lg" mat-button matStepperPrevious>Back</button>
            <button class="btn btn-info btn-lg" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Accessories</ng-template>
            <div class="text-center">
                <div >
                    <aside class="logo">
                        <h2>Pick your Accessories</h2>

                    </aside>

                </div>
              <button class="btn btn-info btn-lg" mat-button matStepperPrevious>Back</button>
              <button class="btn btn-info btn-lg" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Gadgets</ng-template>
              <div class="text-center">

                  <div >
                      <aside class="logo">
                          <h2>Pick your Gadgets</h2>

                      </aside>

                  </div>

                <button class="btn btn-info btn-lg" mat-button matStepperPrevious>Back</button>
                <button class="btn btn-info btn-lg" mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>


  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Done</ng-template>
    <div class="text-center">
        <div >
            <aside class="logo">
                <h2>your Choices</h2>
                {{bike.frame.colourText}}
            </aside>

        </div>

      <button class="btn btn-info btn-lg" mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

</div>