<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Build your {{title}}
  </h1>
</div>
<br><br>

<div class="row">
    <div class="col-md-8">  
        <img class="gallery" src="{{frameimage}}" style="padding-left:195px;" />
        <img class="gallery" src="{{bikeimages[0]}}" style="margin-top:-511px;overflow:auto;"/>
        <img class="gallery" src="{{bikeimages[2]}}" style="padding-left:290px;margin-top:-580px;float:left;overflow:auto;"/>
        <img class="gallery" src="{{bikeimages[3]}}" style="padding-left:230px;margin-top:-600px;float:left;overflow:auto;"/>

    
    </div>
    <div class="col-md-4">
        <aside>
          <products  (colorvalue)="ColorChangedHandler($event)"></products>
        </aside>
    </div>
 </div>



<!--something-->
<app-stepper></app-stepper>

