<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Choose you {{title}}
  </h1>

</div>

<section>
  <article>
      <img class="gallery" src="{{imageUrl}}"/>
      <img class="gallery" src="{{imageUrl2}}" style="padding-left:194px;margin-top:-575px;float:left;overflow:auto;"/>
      <img class="gallery" src="{{imageUrl3}}" style="padding-left:290px;margin-top:-580px;float:left;overflow:auto;"/>
      <img class="gallery" src="{{imageUrl4}}" style="padding-left:230px;margin-top:-600px;float:left;overflow:auto;"/>

    <h2>color</h2>
      <p>massa ut lorem iaculis vestibulum. Maecenas facilisis elit sed justo.</p>
      <p>massa ut lorem iaculis vestibulum. Maecenas facilisis elit sed justo.</p>
    <div>
      <button
        class="btn btn-primary btn-lg"
        [class.disabled]="!isValid">Submit</button>
    </div>
  
  </article>
</section>

<section>
  <products></products>
</section>

<footer>
<h2>footer</h2>
</footer>
